node_modules/
dist/
build/
.env
__pycache__/
*.pyc
*.pyo
venv/
env/
.pytest_cache/
focuspie.db
Focuspie-Desktop-app/
backend/dist/
backend/build/
backend/*.spec
frontend/dist/
frontend/node_modules/
electron/dist/
electron/node_modules/
